body {
  /* min-height: 1000px; */
}

.bgardi {
  background: linear-gradient(
    to right,
    rgba(91, 134, 229, 0.92),
    rgba(54, 209, 220, 0.92)
  );
}

.bgad {
  background: linear-gradient(rgb(4, 255, 255), rgb(255, 44, 227));
}

.mg {
  margin-top: 200px;
}

.tama:hover {
  opacity: 0%;
}

.footer {
  color: white;
  margin-top: 300px;
  background-color: #38b3d0;
  min-height: 40px;
}
